.git
.gitignore
.github
.env
.env.*
*.env
*.env.*
.envrc
.envrc.*
.direnv/
.flaskenv
.flaskenv.*
.streamlit/secrets.toml
.env.example
*.log
*.out
*_test.go
coverage*
/tmp
/localm
docker-compose.yml
README.md
